.counter {
    height: 100px;
    width: 1000px;
    background-color: #F74A15;
    border: 2px solid black;
}

.counterTwo {
    height: 100px;
    width: 1000px;
    background-color: #F8C00E;
    border: 2px solid black;
}

button {
    margin-bottom: 5px;
}

